<div class="container">
  <div class="col-md-12">
    <h1>Product List
      <button class="btn btn-success pull-right"
              (click)="showAddProductForm()" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i>
      </button>
    </h1>

    <table class="table table-bordered table-striped table-hover">
      <thead>
      <tr>
        <th class="text-center">ID</th>
        <th class="text-center">Name</th>
        <th class="text-center">Price</th>
        <th class="text-center">&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>

        <td>
          <button class="btn btn-info" data-toggle="modal" data-target="#myModaledit"
                  (click)="showEditProductForm(product, i)">
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-danger"
                  (click)="removeProduct(product)">
            <i class="fa fa-minus"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>


    <br/>
    <br/>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <form>
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Add Product</h4>
            </div>
            <div class="modal-body">

              <p>Name: <input type="text"
                              name="name"
                              [(ngModel)]="newProduct.name"/></p>
              <p>Price: <input type="number"
                            name="price"
                            [(ngModel)]="newProduct.price"/></p>
            </div>
            <div class="modal-footer">
              <button type="button" (click)="saveProduct(newProduct)" class="btn btn-primary" data-dismiss="modal">Submit</button>
              <button type="button" (click)="cancelNewProduct()" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

          </div>
        </form>
      </div>
    </div>

    <!-- Modal -->
    <div id="myModaledit" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <form>
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Edit Product</h4>
            </div>
            <div class="modal-body">

              <p>Name: <input type="text"
                              name="name"
                              [(ngModel)]="editedProduct.name"/></p>
              <p>Price: <input type="number"
                               name="price"
                               [(ngModel)]="editedProduct.price"/></p>
            </div>
            <div class="modal-footer">
              <button type="button" (click)="updateProduct(editedProduct)" class="btn btn-primary" data-dismiss="modal">Submit</button>
              <button type="button" (click)="cancelEdits()" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

          </div>
        </form>
      </div>
    </div>


  </div>
</div>
